[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

parts +=
    createcoverage
    coverage-sh

[code-analysis]
pre-commit-hook = False
return-status-codes = False

[versions]
# use latest version of setuptools
setuptools =
